* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
  padding: 0;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

#home-info .profile-ava {
  color: white;
}

.form-createTask .form-group {
  margin-bottom: 15px;
}
.form-createTask .form-group .title-createTask {
  font-size: 18px;
  margin-bottom: 10px;
}
.form-createTask .form-group .wrap-select {
  position: relative;
}
.form-createTask .form-group .wrap-select .createTask-select {
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 16px;
  appearance: none;
  border: none;
  outline: none;
  transition: all 0.5s ease;
}
.form-createTask .form-group .wrap-select .createTask-select:hover {
  border-color: #001529;
}
.form-createTask .form-group .wrap-select .createTask-select:focus {
  border-color: #001529;
}
.form-createTask .form-group .wrap-select .createTask-select option {
  font-size: 16px;
}
.form-createTask .form-group .wrap-select .arrowDown {
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 14px;
}
.form-createTask .tox.tox-tinymce {
  margin-top: 20px;
}