.projectDetail-container {
    .projectDetail-body {

        .card-wrap {


            .list-group-item {


                .block {
                    justify-content: space-around;
                    .block-left {
                        i {
                            color:red;
                        }
                        .fa-bookmark{
                            margin-right:15px;
                        }
                    }
                    .block-right{
                        .avatar-group{

                        .avatar{}
                        }
                    }
                }
            }
        }
    }

}